div {
    font-family: Arial, Helvetica, sans-serif;
    height: 300px;
    width: 500px;
    align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 14px;
    color: black;
    font-style: bold;
    border: 2px black;
    text-align: center;
    background-color: #C0C0C0;
}

header {
    background-color: #574;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: white;
}

section {
    background-color: #666;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: white;
}
